<p id="notice"><%= notice %></p>

<p>
  <strong>Salestaxtotals:</strong>
  <%= number_to_currency(@dealership.salestaxtotals) %>
</p>

<p>
  <strong>Netprofit:</strong>
  <%= number_to_currency(@dealership.netprofit) %>
</p>

<p>
  <strong>Salestaxprofit:</strong>
  <%= number_to_currency(@dealership.salestaxprofit) %>
</p>

<%= link_to 'Edit', edit_dealership_path(@dealership) %> |
<%= link_to 'Back', dealerships_path %>
