<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
    <p id="price_warning"></p>
  </div>
  <div class="field">
    <%= f.label :car %><br>
    <%= f.collection_select :vin, Car.all, :id, :vin %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <div class="field"> 
      <%= f.select(:status, ['sold','available'], {}, { :class => 'status' }) %> 
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
