<p id="notice"><%= notice %></p>

<h1>Quotes</h1>

<table>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Lname</th>
      <th>Phone</th>
      <th>Date</th>
      <th>Price</th>
      <th>Vin</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.firstname %></td>
        <td><%= quote.lastname %></td>
        <td><%= number_to_phone(quote.number)%></td>
        <td><%= quote.date %></td>
        <td><%= number_to_currency(quote.price) %></td>
        <td><%= quote.vin %></td>
        <td><%= quote.status %></td>
        <td><%= link_to 'Show', quote %></td>
        <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to 'New Quote', new_quote_path %>
