<!DOCTYPE html>
<html>
<head>
  <title>Untitled1project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header"> 

  <h1>Brandon's Dealership</h1>
  <%= link_to "Staff", staffs_path%> 
  <%= link_to "Car", cars_path%> 
  <%= link_to "Dealership", dealerships_path%> 
  <%= link_to "Quote", quotes_path%> 
  <%= link_to "Finance", finances_path%> 
  </div>
<%= yield %>

</body>
</html>
