<%= form_for(@finance) do |f| %>
  <% if @finance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@finance.errors.count, "error") %> prohibited this finance from being saved:</h2>

      <ul>
      <% @finance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :interest %><br>
    <%= f.select(:interest, ['4%','6%','8%'], {}, { :class => 'interest' }) %>
  </div>
  <div class="field">
    <%= f.label :year_plan %><br>
    <%= f.select(:year_plan, ['2','4','6'], {}, { :class => 'year_plan' }) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
